<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.pngrepo.com/download/18116/login.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" [(ngModel)]="usuario.email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña" [(ngModel)]="usuario.pass">
        <input type="button" (click)="Ingresar()" class="fadeIn fourth" value="Entrar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" (click)="ForgotPassword()">Olvidó su contraseña?</a>
      </div>
  
    </div>
  </div>